﻿/* Overall generic styles
===========================*/
/* HTML5Dr suggested that we try using the body
   as a container instead of a separate div
.container */
body
{
    margin : auto;
    width : 600px;
    font-size : .9em;
}

/* Style the headers to look like the homework example. */
h2
{
    color : Blue;
}

/* Might not need this one anymore...
h3
{
    color : Purple;
} */

/* I originally thought that this was just supposed to
   cover the links in the header nav but it looks like
   the homework example also wants the email link
   displayed this way, thought it's not explicitly stated. */
a:link
{
    text-decoration : none;
}

a:hover
{
    color : Red;
    text-decoration : underline;
    text-transform : uppercase;
}

/* Style fieldset elements
=============================*/
/* Adjust the fieldset legend text to look like the example */
legend
{
    font-size : 1.2em;
}

/* Adjust the spacing for the paragraphs inside the fieldsets */
fieldset p
{
    margin : 0;
}

/* Added an extra div element for the fieldsets to try to make the
   spacing look like the example. */
.fieldsetDiv
{
    padding : .2em;
}

/* Style the header elements 
==============================*/
/* This styles the horizontal rule */
header hr
{
    height : 8px;
    background : #00FF00;
    border-style : inset;
}

/* Style the main elements 
==============================*/
/* This puts the border around the main section */
main
{
    /*border : 3px outset #6A8617;*/
    border : medium outset green;
    margin-bottom : 15px;
}
/* This styles the nav element in the main section */
main nav
{
    margin : 2em;
    float : right;
}

/* The ul and li need to be styled to make a horizontal menu listing */
main nav ul
{
    list-style-type : none;
    margin : 0;
    padding : 0;
}

main nav ul li
{
    display : inline;
    margin : 20px;
}

/* Style the footer elements
=============================*/
/* Give some distance/separation between the main
   content and the footer */
footer
{
    padding-top : 5px;
    border-top : medium double black;
}

/* Make the address elements display inline next to the other
   elements in the footer */
footer address
{
    display : inline;
}

/* Putting 20px space between each of the footer elements */
.footer-margin
{
    margin-right : 20px;
}

/* Style the form elements
===========================*/
form
{
    /*Don't think that I need this now...
    border : medium outset green;    
    margin-bottom : 15px;*/
    padding : 10px;
}

/* Misc. specific style items
==============================*/
/* Used by an element to clear float. */
.clear
{
    clear : both;
}

.italics
{
    font-style : italic;
}

.center-text
{
    text-align : center;
}

/* This is for figures that need to not have
   any margin.  I added this to copy the look
   shown in the homework example.*/
.noMarginFigure
{
    margin : 0;
}

/* Float block items right */
.float-right
{
    float : right;
}

/* This is mostly for the AboutMe.html page, but I tried
   to make this class as generic as possible so that it
   could possibly be reused on other pages that have a
   figure on them. */
.section-with-figure
{
    width : 380px;
}

.aboutme-content
{
    padding : 10px;
}

.aboutme-content h3
{
    color : Purple;
}

/* This probably being nitpicky, but I'm adding this
  to get my numbered list to match the indent of my
  bulleted list. */
.section-with-figure ol
{
    padding-left : 3em;
}

/* Styles from initial site.css file 
-----------------------------------------------------------*/
/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}*/


/* Styles for basic forms
-----------------------------------------------------------*/
/*fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}*/

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}