﻿@model IS445HW7JLR.Models.Reservation

<h2 class="clear center-text">Welcome to my Web Form</h2>
<h3 class="center-text">A demo form for hotel room reservation</h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset id="custinfo">
        <legend>Customer Information</legend>
        <div class="fieldsetDiv">
            <p>
                @Html.LabelFor(model => model.ReservationGuest.FullName, "Full name: ")
                @Html.EditorFor(model => model.ReservationGuest.FullName)
                @Html.ValidationMessageFor(model => model.ReservationGuest.FullName)
            </p>
            <p>
                @Html.LabelFor(model => model.ReservationGuest.Email, "Email address: ")
                @Html.EditorFor(model => model.ReservationGuest.Email)
                @Html.ValidationMessageFor(model => model.ReservationGuest.Email)
            </p>
            <p>
                @Html.LabelFor(model => model.ReservationGuest.PhoneNumber, "Phone: ")
                @Html.EditorFor(model => model.ReservationGuest.PhoneNumber)
                @Html.ValidationMessageFor(model => model.ReservationGuest.PhoneNumber)
            </p>
        </div>
    </fieldset>
    <fieldset id="roominfo">
        <legend>Room Information</legend>
        <div class="fieldsetDiv">
            <p>
                @Html.LabelFor(model => model.ReservationArrivalDT.Date, "Arrival date: ")
                @Html.TextBoxFor(model => model.ReservationArrivalDT, "{0:M/d/yyyy}", new { type = "date" })
                @Html.ValidationMessageFor(model => model.ReservationArrivalDT.Date)
            </p>
            <p>
                @Html.LabelFor(model => model.ReservationArrivalDT.Date.TimeOfDay, "Arrival time: ")
                @Html.TextBoxFor(model => model.ReservationArrivalDT, "{0:h:m}", new { type = "time" })
                @Html.ValidationMessageFor(model => model.ReservationArrivalDT.Date.TimeOfDay)
            </p>
            <p>
                @Html.LabelFor(model => model.ReservationRoom.RmType, "Select a room type: ")
                @Html.EditorFor(model => model.ReservationRoom.RmType)
                @Html.ValidationMessageFor(model => model.ReservationRoom.RmType)
            </p>
            <p>
                @Html.LabelFor(model => model.ReservationStayNights, "Number of nights (valid number is from 1 to 30): ")
                @Html.EditorFor(model => model.ReservationStayNights)
                @Html.ValidationMessageFor(model => model.ReservationStayNights)
            </p>
            <p>
                @Html.LabelFor(model => model.ReservationNumGuests, "Number of guests (the maximum guests is 3): ")
                @Html.EditorFor(model => model.ReservationNumGuests)
                @Html.ValidationMessageFor(model => model.ReservationNumGuests)
            </p>
        </div>
    </fieldset>
    <fieldset id="otherinfo">
        <legend>Other Information</legend>
        <div class="fieldsetDiv">
            <p>
                @Html.LabelFor(model => model.ReservationPromoCode, "Promo code: ")
                @Html.EditorFor(model => model.ReservationPromoCode)
                @Html.ValidationMessageFor(model => model.ReservationPromoCode)
            </p>
            <p>
                @Html.LabelFor(model => model.ReservationNotes, "Special Note: ")
                @Html.EditorFor(model => model.ReservationNotes)
                @Html.ValidationMessageFor(model => model.ReservationNotes)
            </p>
        </div>
    </fieldset>
    <input type="reset" name="ResetButton" value="Clear Form" />
    <input type="submit" name="SubmitButton" value="Request Reservation" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
