﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>IS445 Homework 7 - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1 class="center-text">Rosenlof, John Homework 7</h1>
        <hr />
    </header>
    <main>
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Web Form Demo", "WebFormDemo", "Home")</li>
                <li>@Html.ActionLink("About Me", "AboutMe", "Home")</li>
            </ul>
        </nav>

        @RenderBody()

    </main>

    <footer>
        <span class="footer-margin">John Rosenlof &copy</span>
        <address>
            <span class="italics footer-margin">Email: <a href="mailto:site.owner@mydomain.com?Subject=Contact%20from%20website%20user" target="_top">site.owner@mydomain.com</a></span>
            <span class="italics">Phone: (562) 555-7776</span>
        </address>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
